<h3>{{titulo}}</h3>
<hr/>

<div *ngIf="!productos">
  Cargando listado de productos...
</div>
<div *ngIf="productos">
  <div class="row">
    <div class="col-lg-3" *ngFor="let producto of productos">
      <div class="thumbnail">
        <div *ngIf="producto.imagen" class="imagen_container">
          <img src="http://10.20.17.70:270/uploads/{{producto.imagen}}" class="producto_imagen"/>
        </div>
        <div *ngIf="!producto.imagen">
          <div class="imagen_relleno"></div>
        </div>
        <div class="caption">
          <h3>{{producto.nombre}}</h3>
          <p>{{producto.precio}} €</p>

          <div>
            <a class="btn btn-md btn-primary">Ver</a>
            <a class="btn btn-md btn-warning">Editar</a>
            <a class="btn btn-md btn-danger">Borrar</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
